.app {
  padding: 20px;
}

.calculator {
  width: 450px;
  margin: auto;
  padding: 15px;
  background-color: #303030;
}

.result input {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  font-size: 50px;
  text-align: right;
  color: #0e1111;
  background-color: #ffffff;
}

button {
  font-size: 30px;
  margin: 5px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  background-color: #414141;
}

button:hover {
  background-color: #525252;
}

button:disabled {
  background: #282828;
  color: #525252;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row > .col:last-child > button:last-child {
  flex-grow: 1;
}

.row > .col:nth-child(1),
.row > .col:nth-child(2) {
  justify-content: flex-end;
}
